{# footer #}
<footer>
    <div class="footer-content">
        <div class="reseaux-sociaux">
            <a id="" class="a-default" href="#" target="_blank"><img src="images/home/facebook3.jpg" alt="Facebook"></a>
            <a id="" class="a-default" href="#" target="_blank"><img src="images/home/twitter2.png" alt="Twitter"></a>
            <a id="" class="a-default" href="#" target="_blank"><img src="images/home/instagram1.jpg" alt="Instagram"></a>
        </div>  
    </div>
    <div class="footer-bottom">
      <p>copyright &copy; 2024 GasaEvent. Tous droits réservés.</p>
    </div>
</footer>
